/* src/style.css */
body {
    font-family: Arial, sans-serif;
}

#editableTable > div:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

#editableTable span,
#editableTable .editable-cell {
    /* Убираем flex: 1 */
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Стили для EditableCell */
.editable-cell {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Стили для заголовков таблицы */
#editableTable thead span {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

#progressBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

#timer {
    margin-left: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}